<h1 id="title">TRMS Common Components</h1>

<h2>Time Input</h2>
<p>
  Takes time as a string and will process user input only passing a valid time as a string to the handleUpdate action. To style the inner input pass the inputClass property to the component.
</p>
<pre>
  \{{trms-time-input value=myTime update=(action 'handleUpdate')}}
</pre>

{{trms-time-input value=value update=(action (mut value))}}
{{value}}

<pre>
  \{{trms-time-input value=myTime update=(action 'handleUpdate') defaultTime="4:00:00 pm"}}
</pre>

{{trms-time-input value=value2 update=(action (mut value2)) defaultTime="4:00:00 pm"}}
{{value2}}

{{outlet}}
